// Intro section
// ==============================

.intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../image/voting-backdrop.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    height:100vh;
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
    color:#36577F;
}

.intro-text {
    font-size: 18px;
    color:#C24848;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }

    .vote-results {
        height: 200px;
    }

}


.content-section {
    padding-top: 200px;
    padding-bottom: 100px;

}

#subscribe-section{
    padding-top: 100px;
    padding-bottom: 100px;
}