/*###################################################################
Subscribe Container
###################################################################*/

.subscribe-container {
    
    padding-top: 210px;
    padding-bottom: 210px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.subscribe-container h2 {
    text-align: center;
    color: #000;
    font-family: 'Akkurat', sans-serif;
    font-weight: 200;
    text-transform: lowercase;
    font-size: 47px;
    margin: 0;
    margin-bottom: 50px;
}



.subscribe-container ::-webkit-input-placeholder {
   font-family: 'Akkurat', sans-serif;
   text-transform: lowercase;
   color: #515050;
   font-weight: 300;
}

.subscribe-container :-moz-placeholder { /* Firefox 18- */
   font-family: 'Akkurat', sans-serif;  
   text-transform: lowercase;
   color: #515050;
   font-weight: 300;
}

.subscribe-container ::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Akkurat', sans-serif;  
   text-transform: lowercase;
   color: #515050;
   font-weight: 300;
}

.subscribe-container :-ms-input-placeholder {  
   font-family: 'Akkurat', sans-serif;  
   text-transform: lowercase;
   color: #515050;
   font-weight: 300;
}

.inputSection input {
    font-size: 25px;
    font-family: 'Akkurat', sans-serif;
    color: #515050;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}


.buttonSection button {
	background-color: #C24848;
    border: none;
	padding: 0.5em;
	height: 3em;
    width: 100%;
    text-transform: lowercase;
	font-family: 'Akkurat', sans-serif;
	font-weight: 200;
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 25px;
	padding: 0.53em 25px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.buttonSection button:hover {
	-webkit-box-shadow: 5px 5px 15px rgba(0,0,0, 0.4) inset;
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.8) inset;
	text-shadow: 1px 1px 3px rgba(0,0,0, 0.8);
}


form {
    margin: 0;
}

/* use this to get basic styling on all basic form elements */
input[type="email"],
input[type="zip"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 2em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 3em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

  input[type="email"]:focus,
  input[type="zip"]:focus,
  textarea:focus {
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }

  input[type="email"]:focus,
  input[type="zip"]:focus,
  textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }

  input[type="email"][disabled],
  input[type="zip"][disabled],
  textarea[disabled] {
    background-color: #dddddd; }
