

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Canvass</h1>
          <p class="intro-text">Voice Your Opinion on Local Issues</p>
          <div class="page-scroll">
            <a href="#signup" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="signup" class="content-section text-center">
  <div class="signup-section">
    <div class="container">
      <div class="row">
       <h2>Sign Up</h2>
       <form class="form-contact" novalidate role="form">
        <h2>Please enter email</h2>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" ng-model="item.email" class="form-control" placeholder="Email address" required autofocus>
          </div>
          <div class="col-sm-6">
            <input type="text" ng-model="item.zipCode" class="form-control" placeholder="Zip Code" required autofocus>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" ng-model="item.firstName" class="form-control" placeholder="First Name" required autofocus>
          </div>
          <div class="col-sm-6">
            <input type="text" ng-model="item.lastName" class="form-control" placeholder="Last Name" required autofocus>
          </div>
        </div>
        <div class="row">
          <button ng-click="create(item)" class="btn btn-lg btn-primary btn-block" value="contact">Add to Email List</button>
        </div>
        </form>
        <div ng-show="isAlertShown" ng-bind="alertText" class="alert" ng-class="'alert-' + alertStatus" ></div>
      </div>
    </div>
  </div>
</section>


<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Us</h2>
      <p>Canvass is an advisory tool for Representatives and Senators to collect the opinions of their voters.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
      <div class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-th-list fa-5x"></i>
        </a>
        <div class="media-body">
          <h2 class="media-heading">Browse</h2>
          <p class="lead">issues in your state's legislature.</p>
        </div>
      </div>
      <br/>
      <div class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-thumbs-up fa-5x"></i> 
        </a>
        <div class="media-body">
          <h2 class="media-heading">Vote</h2>
          <p class="lead">on the issues that matter to you.</p>
        </div>
      </div>
      <br/>
      <div class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-bar-chart-o fa-5x"></i>
        </a>
        <div class="media-body">
          <h2 class="media-heading">Examine</h2>
          <p class="lead">how others are voting.</p>
        </div>
      </div>
      <br/>
    </div>

    <div class="col-xs-12 col-sm-5">
      <div id="button-section">
      <p><button href="#" class="btn btn-primary btn-block btn-xlarge" style="height:100px">Get Started</button></p>
      <p><button href="#" class="btn btn-success btn-block btn-xlarge" style="height:100px">Representatives Enroll Here</button></p>
      <p><button href="#" class="btn btn-success btn-block btn-xlarge" style="height:100px">Log In</button></p>
      </div>
    </div>
  
</div>
</section>

<section id="contact" class="container content-section text-center">
  <!-- section title -->
  <div class="row">
    <h2>Contact Us</h2>
  </div>

  <!-- address row -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <i class="fa fa-map-marker fa-3x"></i>
      <p>114 N 7th St Brooklyn NY 11249</p>
    </div>
  </div>
  <!-- email row -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="mailto:info@canvass.org">
        <i class="fa fa-envelope fa-3x"></i> info@canvass.org
      </a>
    </div>
  </div>
</section>

<section id="team" class="container content-section text-center">
  <!-- section title -->
  <div class="row">
    <h2>The Team</h2>
  </div>

<div class="col-md-10 col-md-offset-1">
  <!-- team member list -->
  <ul class="list-group">
    
    <!-- jordan block -->
    <li class="list-group-item team-list-item">
      <div class="row">
        
        <!-- pic column -->
        <div class="col-sm-4">
          <img src="../image/jordan.jpg" alt="Jordan Cote" class="img-rounded img-responsive">
          <p class="lead">Jordan Cote</p>
        </div>
		<div class="col-sm-1">
		<p><a href="mailto:alaa@canvass.org"><i class="fa fa-envelope fa-3x"></i></a>
            <a href="https://twitter.com/mesoproterozoic"><i class="fa fa-twitter fa-3x"></i></a></p>
		</div>
        <!-- info column -->
        <div class="col-sm-7">
          <p>
            Jordan is a PhD student at the University of Connecticut with a focus in Cryptographic protocols that provide for simultaneous authentication and anonymity.  He is Principal Engineer at Security Scorecard and has previously worked as a Developer for Sailthru, HP and Google.
          </p>
        </div>
      </div>
    </li>


    <!-- alaa block -->
    <li class="list-group-item team-list-item">
      <div class="row">
        
        <!-- pic column -->
        <div class="col-sm-4">
          <img src="../image/alaa.png" alt="Alaa Awad" class="img-rounded img-responsive">
          <p class="lead">Alaa Awad</p>
        </div>
		<div class="col-sm-1">
		<p><a href="mailto:alaa@canvass.org"><i class="fa fa-envelope fa-3x"></i></a>
            <a href="https://twitter.com/awadalaa"><i class="fa fa-twitter fa-3x"></i></a>
            <a href="https://github.com/awadalaa"><i class="fa fa-github fa-3x"></i></a></p>
		</div>
        <!-- info column -->
        <div class="col-sm-7">
          <p>
          Alaa Awad is a lead developer and database administrator at a private boutique investment bank. Alaa has been working in the technology industry for several years although he primarily focuses on full stack web and mobile development.  He holds a B.S. in Electrical Engineering from Boston University.
          </p>
        </div>
      </div>
    </li>


    <!-- alaa block -->
    <li class="list-group-item team-list-item">
      <div class="row">
        
        <!-- pic column -->
        <div class="col-sm-4">
          <img src="../image/jordan.jpg" alt="Will Farrell" class="img-rounded img-responsive">
          <p class="lead">Will Farrell</p>
        </div>
        
        <div class="col-sm-1">
        <p>
          <a href="mailto:will@canvass.org"><i class="fa fa-envelope fa-3x"></i></a>
        </p>
        </div>
        <!-- info column -->
        <div class="col-sm-7">
          
        </div>
      </div>
    </li>
  </ul>
  </div>
</section>

