

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Canvass</h1>
          <p class="intro-text">Voice Your Opinion on Local Issues</p>
          <div class="page-scroll">
            <a href="#signup" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Subscribe Container -->
<div id="subscribe" ng-controller="ContactCtrl" class="subscribe-container container content-section text-center">
	<div class="row">
		<div class="col-lg-12">
			<h2>Enter your contact details to request an invite</h2>
			<div class="row">
				<form name="signupForm" novalidate role="form">
					<div class="col-lg-6 columns inputSection">
						<input type="email" name="email" ng-model="item.email" placeholder="your email" required>
					</div>
					<div class="col-lg-3 columns inputSection">
						<input type="zip" name="zip" ng-model="item.zipCode" style="clear:none" placeholder="zip code" required ng-minlength="5" maxlength="5" ng-pattern="/^[0-9]+$/">
					</div>
					<div class="col-lg-3 columns buttonSection">
						<button type="submit" ng-click="create(item)"  value="contact">Sign up</button>
					</div>
					<div id="form_errors_email" class="col-lg-6 columns">
						<div ng-class="alert-danger" ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">Enter a valid email.</div>
	            		<div ng-class="alert-success" ng-show="signupForm.email.$valid && !signupForm.email.$pristine">Looks good.</div>
					</div>
					<div id="form_errors_zip" class="col-lg-3 columns">
						<div ng-class="alert-danger" ng-show="signupForm.zip.$error.pattern && !signupForm.zip.$pristine">Enter only digits.</div>
			            <div ng-class="alert-danger" ng-show="signupForm.zip.$error.minlength">5-digits are required.</div>
			            <div ng-class="alert-success" ng-show="signupForm.zip.$valid && !signupForm.zip.$pristine">Looks good.</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<section id="about" class="container content-section text-center">
  <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 pull-left">
          <div id="browse-panel" ng-controller="browseController">
              <ul>
                  <li ng-repeat="issue in issues">{{issue.title}}</li>

              </ul>
          </div>
      </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 pull-right">
      <div class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-th-list fa-5x"></i>
        </a>
        <div class="media-body">
          <h2 class="media-heading">Browse</h2>
          <p class="lead">issues in your state's legislature.</p>
        </div>
      </div>
      <br/>
      <div class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-thumbs-up fa-5x"></i> 
        </a>
        <div class="media-body">
          <h2 class="media-heading">Vote</h2>
          <p class="lead">on the issues that matter to you.</p>
        </div>
      </div>
      <br/>
      <div class="media">
        <a class="pull-left" href="#">
          <i class="fa fa-bar-chart-o fa-5x"></i>
        </a>
        <div ng-controller="VoteDemoCtrl" class="media-body">
          <h2 class="media-heading">Examine</h2>
          <p class="lead">how others are voting.</p>
          <button type="button" ng-click="incYay()">yay</button>
          <button type="button" ng-click="incNay()">nay</button>
          <highchart id="demo-vote-results" config="chartConfig" class="vote-results"></highchart>
        </div>
      </div>
      <br/>
    </div>
  </div>
</section>

<section id="about" class="container content-section text-center">
  <!-- section title -->
  <div class="row">
    <h2>About Us</h2>
  </div>

  <!-- content row -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Canvass is in early-stage development phase.   We are seeking representatives who want to improve their connection with their constituency.  To assist with operational costs we are open to funding through grants or other sources.  Please contact us with any inquiries.</p>
    </div>
  </div>

  <!-- email row -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="mailto:info@canvass.org">
        <i class="fa fa-envelope fa-3x"></i>
        <p>info@canvass.org</p>
      </a>
    </div>
  </div>
</section>
